<!DOCTYPE html>
<html>

<head>
	<title>Новый запрос в службу поддержки</title>
</head>

<body>
	<h1>Новый запрос в службу поддержки</h1>

	<p>В службу поддержки поступил новый запрос.</p>
	<ul>
		<li><strong>Имя:</strong>
			<%= data.firstName %>
		</li>
		<li><strong>Фамилия:</strong>
			<%= data.surname %>
		</li>
		<li><strong>Email:</strong>
			<%= data.email %>
		</li>
		<li><strong>Номер телефона:</strong>
			<%= data.phoneNumber %>
		</li>
		<li><strong>Комментарий:</strong>
			<%= data.comment %>
		</li>
	</ul>
</body>